{% extends "package/base.html" %}
{% load static %}
{% block content %}
   
    <div class="register-photo" style="background-color:rgb(0,0,0);background-image:url(&quot;{% static "package/img/action-asphalt-blur-167733.jpg" %}&quot;);background-size:cover;background-repeat:no-repeat;background-position:center;">
            <div class="container">
                    <div class="team-clean">
                            <div class="container">
                                {% for i in "xxx" %}
                                    <br>
                                {% endfor %}
                                <div class="intro" style="align: center;">
                                    <h2 class="text-left" style="color: white;">This project was done as part of 5th semester DBMS Mini Project as required by VTU. Implemented using Python, Django Framework and the PostgreSQL Database.</h2>
                                </div>
                                {% for i in "xxx" %}
                                    <br>
                                {% endfor %}
                            </div>
                    </div>
            </div>
    </div>    

{% endblock content %}