{% extends "package/base.html" %}
{% load static %}
{% block content %}
    <div class="register-photo" style="position: relative;background-color:rgb(0,0,0);background-image:url(&quot;{% static "package/img/lights2.jpg" %}&quot;);background-size:cover;background-repeat:no-repeat;background-position:center;">
        <div class="form-container" ">
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center"><strong>Your Tracking ID :</strong> {{ data }}</h2>
                <h2 class="text-center"><strong>Shipping Cost :</strong> {{ price }}</h2>
                
        </div>
    </div>
    
    </div>
{% endblock content %}